@CHARSET "UTF-8";
body{
	padding-top: 68px;
}

.modal-img{
	width: 100%;
}
.header-img{
	background-color: #3EC9C3;
	color: white;
}

.left-img{
	padding-right: 5px;
}
.right-img{
	padding-left: 5px;
}

table
{
	width: 100%;
}

h3
{
	color: #CB5750;
}
h4
{
	color : #CB5750;
}
 #map{
 height: 50%;
 }
 p{
 	color: #777;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 14;
 }
 #addrP{
 	color:black;
 	font-weight: 500;
 }
 #myNavBar{
 	background-color: #6C9997;
 }
 #noneResultImg{
 	text-align:center;
 }
 #imageResultH3{
 	margin-bottom: 20px;
 }
 #upMap{
 	padding-bottom: 10px;
 }